:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme="dark"] {
    --background: black;
    --foreground: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .link {
        @apply cursor-pointer;
    }
    .link:hover {
        @apply underline transition duration-100 transform scale-110 text-yellow-400;
    }
    .button {
        @apply p-2 text-xs bg-gradient-to-b from-yellow-300 to-yellow-500 rounded-sm;
    }
    .button {
        @apply border-yellow-300;
    }
    .button:focus {
        @apply outline-none ring-2 ring-yellow-500;
    }
    .button:active {
        @apply from-yellow-500;
    }
}